#header{
    display: flex;
    justify-content: center;
    background: azure;
}

h1{
    font-size: 40px;

}

body{
    font-family: "Roboto", sans-serif;
}

#btn-container{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}

#btn{
    background: azure;
    padding: 25px;
    border-radius: 25px;
    border: none;
}
#btn:hover {
background: linear-gradient(to right, #ACB6E5, #74ebd5);
}

a{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    
}

#myVideo{
    position: fixed;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-10 ;

}

@media (max-width: 1380px){
    h1{
        font-size: 35px;
    }
    #btn{
        padding: 22px 35px;
    }
    a{
        font-size: 23px;
    }
}

@media (max-width: 1140px){
    #btn-container{
        gap: 15px;
        margin-top: 150px;
    }
    #btn{
        padding: 20px 30px;
    }
    a{
        font-size: 21px;
    }
}


@media (max-width: 940px){
    #btn-container{
        flex-direction: column;
        align-items: center;
        margin-top: 120px;
    }
    #btn{
        width: 60%;
        text-align: center;
        padding: 18px 0;
    }
    a{
        font-size: 20px;
    }
    h1{
        font-size: 32px;
    }
}

@media (max-width: 720px){
    h1{
        font-size: 28px;
    }
    #btn{
        width: 70%;
        padding: 16px 0;
    }
    a{
        font-size: 18px;
    }
}


@media (max-width: 540px){
    h1{
        font-size: 24px;
        text-align: center;
        padding: 10px;
    }
    #btn{
        width: 80%;
        padding: 14px 0;
        border-radius: 20px;
    }
    a{
        font-size: 16px;
    }
    body{
        background: linear-gradient(to right, #98e4c4, #f0f3f5);
    }
}

